/*menu classes*/

#image
{
    top:50%;
    height: 100%;
    display: table-cell; vertical-align: middle
}
#menu
{
    background-image:url('Images/backg.jpg');
    background-color:#cccccc;
}
#animals{cursor: pointer;}
#vegetables{cursor: pointer;}
#fruits{cursor: pointer;}


/*game classes*/

#wrapper {display:table;}
#cell {display:table-cell; vertical-align:middle;}

#game {
    font-family: sans-serif;
    margin-top: 3%;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}


h1 {
    font-size: 400%;
    margin-top: 30px;

}

.output {
    background: rgb(255, 245, 211);
}

#output {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
    min-height: 80px;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

a {
    text-decoration: none;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-style: italic;
}

#textModel
{
    text-align: center;
    font-weight:bold;
    font-size: 15.0vh;
    background-color: palevioletred;
}

#demo {
    box-shadow: 0 0 35px rgba(0,0,0,0.2);

}
#timing {
     font-size: x-small;
 }
hr {
    border: none;
}


.row #clear { color: red; font-size: 400%; font-weight: bold; cursor: pointer; }
.row #word { color: blue; font-size: 300%; font-weight: bold; cursor: pointer; }
.row #verify {color:green;font-size:400%; font-weight: bold; cursor: pointer; }
